:root {
  --color-primary: #ffffff;
  --color-primary-dark: #007f67;
  --color-background: #018281;
  --color-secondary: #252c6a;
  --color-black: #000000;
  --color-windows-dark: #919397;
  --color-windowsblue: #000080;
  --color-windowsgrey: #c0c0c0;
  --color-error: #cc3333;
  --color-succes: #4bb544;
}

ul,
li {
  list-style: none;
  padding: 0.2rem;
  margin: auto;
  
  font-family: "MS Sans Serif";;
}

h2 {
  font-size: 1.5em;
}

.entry-info {
  font-family: "MS Sans Serif";
  padding: 5px;
}
.entry-container {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  border-radius: 0;
  background: #c0c0c0;
  border-style: solid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px;
}

.form {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  padding: 4px 10px;
  margin: 20px auto 3px;
}

div.title {
  height: 18px;
  width: 100%;
  background: var(--color-windowsblue);
  color: var(--color-primary);
}

p.title {
  margin: 2px 0 0 1px;
  float: left;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 11px;
}

.title {
  padding-left: 2px;
  color: #fff;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1px;
  padding-bottom: 3px;
  text-align: center;
  margin: auto;
}

.entry-fieldset {
  margin: auto;
  margin-top: auto;
  margin: auto;
  position: relative;
}

.button {
  font-family: "MS Sans Serif";
  font-size: 15px;
  background: #c0c0c0;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 4px 10px;
  margin: 20px auto 3px;
  display: block;
  position: relative;
  bottom: 0px;
  width: 210px;
}

.button-logout {
  font-family: "MS Sans Serif";
  font-size: 15px;
  background: var(--color-windowsgrey);
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 5px 10px;
  margin: 20px 0px 50px;
  bottom: 0px;
  width: auto;
}

#index-body {
  background-color: var(--color-background);
}

#chat-body {
  border-width: 1px;
  background-color: var(--color-background);
}

.input {
  width: 100%;
  border-color: #ffffff #808080 #808080 #ffffff;
  background-color: var(--color-primary);
  padding: 4px 10px;
  margin: 20px auto 3px;
  display: block;
  position: relative;
  bottom: 0px;
  border-width: 2px;
  border-style: solid;
}

.container-input {
  width: 100%;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
  width: 190px;
  height: auto;
  padding: 4px 10px;
  margin: 20px auto 1px;
  display: block;
  position: relative;
  bottom: 0px;
  margin-bottom: 0.5rem;
}

.header {
  height: 10vh;
  border: 2px solid #808080 #808080 #808080 #808080;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-family: "MS Sans Serif";
}

.header-roomname {
  padding: 4px 10px;
  margin: 50px 10px 20px;
  bottom: 0px;
  width: auto;
  font-size: 0.9em;
  float: left;
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
  background-color: var(--color-windowsgrey);
  font-family: "MS Sans Serif";
  color: var(--color-black);
}

.header-username {
  padding: 4px 10px;
  margin: 50px 10px 20px;
  bottom: 0px;
  width: auto;
  font-size: 0.9em;
  float: right;
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
  background-color: var(--color-windowsgrey);
  font-family: "MS Sans Serif";
  color: rgb(6, 65, 69);
}

.chat-container {
  height: calc(100vh - 10vh - 22px);
  display: flex;
  position: relative;
}

.room {
  min-width: 260px;
  max-width: 260px;
  position: relative;
  background-color: var(--color-windowsgrey);
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
}

.room-header {
  width: 100%;
  padding: 0.2rem;
  font-size: 15px;
  border: 0;
  border-bottom: 2px solid var(--color-windowsgrey);
  color: var(--color-primary);
  background-color: var(--color-windowsblue);
  text-align: left;
  font-family: Tahoma;
  font-weight: bold;
}

.room-form {
  display: flex;
  padding: 0.75rem 0.5rem;
}

.room-ul {
  overflow-y: auto;
  margin-right: 2px;
  position: left;
  top: 130px;
  bottom: 4px;
  left: 0;
  right: 0;
}

.room-btn {
  padding: 0.25rem 1rem;
  display: block;
  text-align: left;
  margin: 0.25rem 0.5rem;
  word-break: break-all;
  color: var(--color);
  background-color: var(--background-color);
}

.room-btn:hover {
  color: var(--blue);
  cursor: pointer;
}

.room-btn-active {
  color: var(--blue);
}

.user {
  min-width: 260px;
  max-width: 260px;
  position: relative;
  border-width: 1px;
  background-color: var(--color-windowsgrey);
  background-color: var(--color-windowsgrey);
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
}

.user-header {
  width: 100%;
  padding: 0.2rem;
  font-size: 15px;
  border: 0;
  border-bottom: 2px solid var(--color-windowsgrey);
  color: var(--color-primary);
  background-color: var(--color-windowsblue);
  text-align: left;
  font-family: Tahoma;
  font-weight: bold;
}

.user-ul {
  overflow-y: auto;
  padding: 1rem;
  margin-right: 2px;
  position: absolute;
  top: 1.6rem;
  bottom: 2px;
  left: 0;
  right: 0;
  background-color: var(--color-primary);
}

.user-li {
  padding: 0.25rem 1rem;
  word-break: break-all;
}

.user-ul ul:first-of-type li:first-child {
  color: var(--blue);
}

.chat {
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 1rem;
  background-color: var(--color-primary);
  border-left: 2px solid var(--color-windowsgrey);
  border-right: 2px solid var(--color-windowsgrey);
}

.chat-ul {
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0.1rem;
  right: 0.1rem;
  top: 0.1rem;
  bottom: 5rem;
  padding: 0.1rem;
  background-color: #dfdfdf;
}

.chat-ul > li {
  margin-top: 1rem;
  font-size: 18px;
}

.chat-li {
  word-break: break-all;
}

.chat-li--join {
  font-family: "MS Sans Serif";
  text-align: center;
  font-size: 24px;
  line-height: 12px;
  color: #007f67;
}

.chat-form {
  display: flex;
  padding: 0.75rem 0.5rem;
  border-width: 3px;
  background-color: var(--color-windows-dark);
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid var(--color-windowsgrey);
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
}

.notMyMessage,
.myMessage {
  padding: 1.25rem 1rem;
  background-color: var(--color);
}

.notMyMessage {
  font-family: "MS Sans Serif";
  color: #000080;
  margin-left: 0;
  text-align: left;
  background-color: #dfdfdf;
}

.myMessage {
  font-family: "MS Sans Serif";
  margin-right: 0;
  text-align: right;
  background-color: #c8c8c8;
}

.space-chat {
  padding-left: 1.5rem;
}

.welcome {
  font-family: 'IBM Plex Mono', monospace;
}

.userSays{
  color: red;
}